@import 'setup.scss';

.temp-unit-buttons {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.temp-unit-button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 2rem;
	height: 2rem;
	margin: 5px;

	border-radius: 50%;

	background-color: #333333;
	color: white;
}

.temp-unit-button.active {
	border-radius: 50%;
	background-color: #e7e7eb;
	color: black;
}