@import 'tile_containers.scss';
@import 'sidebar.scss';
@import 'misc.scss';

// layout for desktop 
#container {
	width: 100%;
	display: flex;
	flex-direction: column;

	height: 70vh;
	@include notphone {
		display: grid;
		height: 100vh;
		grid-template-columns: 30% 70%;	
		position: fixed;
		top: 0;
		left: 0;
	}

	#content {
		// position: absolute;
		@include notphone {
			overflow-y: scroll;
		}
		height: 100%;
		box-sizing: border-box;
		
		padding-left: 5%;
		padding-right: 5%;

		@include desktop {
			padding-left: 15%;
			padding-right: 15%;
		}

		background-color: #100e1d;
		display: flex;
		align-items: center;
		color: white;

		& > #main-info {
			width: 100%;
			height: 100%;
			overflow-y: visible;
			& > h3 {
				box-sizing: border-box;
				padding: 5px;
			}
		}

		.footer {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
