/* Rules for sizing the icon. */
:global(.material-icons.md-18) { font-size: 18px; }
:global(.material-icons.md-24) { font-size: 24px; }
:global(.material-icons.md-36) { font-size: 36px; }
:global(.material-icons.md-48) { font-size: 48px; }

/* Rules for using icons as black on a light background. */
:global(.material-icons.md-dark) { color: rgba(0, 0, 0, 0.54); }
:global(.material-icons.md-dark.md-inactive) { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
:global(.material-icons.md-light) { color: rgba(255, 255, 255, 1); }
:global(.material-icons.md-light.md-inactive) { color: rgba(255, 255, 255, 0.3); }