@mixin tile {
	display: grid;
	justify-items: stretch;


	color: white;
	background-color: #1e213a;

	margin-top: 10px;
	margin-bottom: 10px;

	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	& > * {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
	}

	& > .tileMainText {
  		font-size: 2.5rem;
	}

	& > .tileHeader {
  		font-size: 1rem;
	}

	& > .tileSubContent {
  		font-size: 1rem;
	}
}